<style>
*{
    background-color: royalblue;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.tvbox{
    display: inline-block;
    border: 1pt solid blueviolet;
    vertical-align: top;
}
.projectpic{
    height: 200px;
}

.projectpic:hover {
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(3, 3) translateX(+40%);
}
</style>
<div id='header'>
<h1>WELCOME!</h1>
<p>Welcome to Zach's world!</p>
<div id='about'>
    <h2>ABOUT ME</h2>
    <p>I am a driven full stack developer with strong analytical and logic skills, always looking for a practical solution to the problem at hand.  Six years experience in non-profit fundraising for performing arts organizations taught me the importance of working as a team to further the mission of the company My programming skills are enhanced with a maturity and professionalism that comes from having spent time in many client facing roles. I have a passion for the arts and love to build relationships within and across teams.</p>
    <ul>
        <li>Languages: JavaScript (ES5, ES6), Python, Ruby, TypeScript, HTML5, CSS</li>
        <li>Front-End/Libraries: Mongoose, JQuery, Ajax, Bootstrap, SocketIO </li>
        <li>Frameworks: Rails, Angular, Django, Node.js, Express, Flask</li>
        <li>Dev Tools: AWS, GitHub, Nginx, VS Code, Postman, MySQL Workbench</li>
        <li>Methodologies: OOP, MVC, TDD, CRUD Operations, RESTful architecture</li>
        <li> Databases: PostgreSQL, SQLite, Mongoose, </li>
        <li>CRMS: Tessitura, Salesforce</li>
    </ul>
</div>

<div id='cutco'>
  <h2><a href='/cutco'>CUTCO-College and University Transfer Coursebook Online</a></h2>
  <img class='projectpic' src='screenshotcutco.png'>
  <p>This site is a central hub for course transfer information for students, faculty, and administrators. It includes multiple-level models to establish permissions for teachers on multiple campuses with different roles, CRUD operations depending on those roles, and administrative dashboard to manage user access. Most importantly it serves as a quick and useful reference for students.
</p>
</div>

<div id='nutellaWiki'>
    <h2><a href='/wiki' >NutellaWiki- A family repository</a></h2>
    <img class='projectpic' src='nutellawikiscreenshot.png'>
    <p>A direct lesson in obselescene, the impetus for this project was the impending closure my family's "Wiki". Started by my dad, 10 years ago, it mainly serves as an online spot for favorite (mostly holiday) recipes, and vacation planing and discussion.</p>
    <ol>
      <li>Coded with Ruby on Rails, making use of the tinymce to have a WYSIWYG html editor for the whole family to create with.</li>
      <li>Are you always calling your mom for that stuffing recipe? Put it on the Nutella Wiki instead!</li>
    </ol>
</div>

<div id='forbiddenIsland'>
    <h2><a href='/islandgame' >Forbidden Island</a></h2>
    <img class='projectpic' src='fiscreenshot.png'>
    <p>A clone of a popular cooperative board game, this online version is built on extensive javascript OOP. The sockets library is used to allow gamers to work together to collect all four treasures before the island sinks away</p>
    <ol>
      <li>Written using simple OOP javascript</li>
      <li>I've included some JQuery to make the animations pop</li>
      <li>Find a friend to play! the game has socket functionality, to closer mirror the cooperative feel!</li>
    </ol>
</div>
