<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">
<style>
*{
    color: black;
    font-family: 'Roboto', sans-serif;
}
body {
  background-repeat: repeat;
  background-position: top;
  background-size: 120%;
  background-image: url(background2opaque.png);
}
body>*{
  padding-left:7%;
  padding-right:7%;
  padding-top: 5%;
}
#header {
  text-align: center;
}
#about {
  font-size:14pt;
}
#einstein {
  width: 300px;
}
.playfair {
  font-family: 'Playfair Display', serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.icon {
  height: 50px;
  width: 50px;
  padding: 5px;
}
.minicon {
  height: 30px;
  width: 30px;
  padding: 3px;
}
.projectpic{
    height: 200px;
}
.project{
  border-radius: 40px;
  border: 1pt, solid, black;
  text-align: center;
  background: rgba(255, 193, 7, 0.2);
  margin-top:4%;
  padding-top:2%;
  padding-bottom:2%;

}
.project p {
  font-size: 12pt;
  padding-right: 10%;
  padding-left: 10%;
}
.projectheading {
  font-family: 'Playfair Display', serif;
  color:black;
  text-decoration-line: underline;
}
#allskills {
  text-align:center;
}
.skills {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width: 20%;
  height:200px;
  border: 1pt solid black;
  border-radius:20px;
  background: rgba(255, 255, 255, 0.4);
  margin-left:1%;
  margin-right:1%;
  margin-top: 10px;
  font-size:14pt;
}
.skills p{
  font-size:12pt;
  margin: 2pt;
}
.quote {
  font-size: 16pt;
  font-weight: bold;
}
.projectpic:hover {
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(3, 3);
}
</style>
</head>
<body>
<div><button class='btn btn-warning' id='projectbutton'>PROJECTS</button>
<button class='btn btn-warning' id='aboutbutton'>ABOUT ZACH</button></div>

<div id='header'>
<h1 class='playfair'></h1>
  <img id='einstein' src='einstein.jpg'>
  <p class='playfair quote'>“There exists a passion for comprehension, just as there exists a passion for music. 
    <br>That passion is rather common in children but gets lost in most people later on. 
    <br>Without this passion, there would be neither mathematics nor natural science.”</p>
  </div>
  <div id='about'>  
      <a href='mailto:zdk9@yahoo.com'><img class='icon' src='email.png'></a>      
      <a href='tel:+1-607-592-8160'><img class='icon' src='phone.png'></a>      
      <a href=''><img class='icon' src='resume.png'></a>      
      <a href='https://github.com/kazarinoff'><img class='icon' src='github2.png'></a>
      <a href='https://www.linkedin.com/in/zach-kazarinoff-b220bb173/'><img class='icon' src='linkedin.png'></a>
    <h1 class='playfair'>ZACH KAZARINOFF</h1>

    <p>I am an analytical , logical, and practical full stack developer, working in Ruby on Rails, MEAN, and Django.
      Before programming I worked in the performing arts- fundraising and selling tickets for opera and ballet companies.
      And before that I was a French horn player, practicing three hours a day trying to win a professional symphony audition.
      As a developer, I'm drawn to elegant simple solutions to problems with easily understood pathways.
      <br>I grew up in upstate New York (if you say Poughkeepsie is upstate I will fight you), with a midwestern soul, care of my Michigan raised parents, and now live in Dallas/Fort Worth Texas.
      When I'm not learning new coding technologies, and writing code, I try to experience as much of the world as possible- especially art, music, and delicious food.
      I love to travel, used to juggle, and currently play ultimate frisbee.</p>
    <div id='allskills'>
        <div class='skills'>Languages
          <p>JavaScript (ES5, ES6)</p>
          <p>Python</p>
          <p>Ruby</p>
          <p>TypeScript</p>
          <p>HTML5</p>
          <p>CSS</p>
        </div>
        <div class='skills'>Front-End/Libraries
            <p>JQuery</p>
            <p>Mongoose</p>
            <p>Ajax</p>
            <p>Bootstrap</p>
            <p>SocketIO</p>
          </div>
        <div class='skills'>Development Tools
            <p>AWS (EC2, Route 57)</p>
            <p>Git</p>
            <p>Nginx</p>
            <p>VS Code</p>
            <p>Postman</p>
            <p>MYSQL Workbench</p>
        </div>        
        <div class='skills'>Methodologies
            <p>OPP</p>
            <p>MVC</p>
            <p>TDD</p>
            <p>CRUD Opearations</p>
            <p>RESTful architecture</p>
          </div>
        <div class='skills'>Frameworks
            <p>Rails</p>
            <p>Angular</p>
            <p>Django</p>
            <p>Node.js</p>
            <p>Express</p>
            <p>Flask</p>
        </div>
        <div class='skills'>Databases
            <p>PostgreSQL</p>
            <p>SQLite</p>
            <p>Mongoose</p>
          </div>
        <div class='skills'>CRMs
            <p>Tessitura</p>
            <p>Salesforce</p>
          </div>
    </div>
    <button class='btn btn-warning' id='projectbutton2'>PROJECTS</button>
</div>
<div id='projects'>
<div id='cutco' class='project'>
  <h2><a class='projectheading' href='/cutco'>CUTCO-College and University Transfer Coursebook Online</a></h2>
  <h3 class='playfair'>Technologies: Python, Django, SQLite, Bootstrap</h3>
  <a href='/wiki' ><img class='projectpic' src='screenshotcutco.png'></a>
  <p>This site is a central hub for course transfer information for students, faculty, and administrators. 
    It includes multi-tiered models to establish permissions for teachers on different campuses with differing roles, 
    CRUD operations depending on those roles, and an administrative dashboard to manage user access. 
    Most importantly it serves as a quick and useful reference for students.
</p>
</div>

<div id='nutellaWiki' class='project'>
    <h2 ><a class='projectheading' href='/wiki'>NutellaWiki- A family repository</a></h2>
    <h3 class='playfair'>Technologies: Rails, Ruby, Bootstrap, tinyMCE, bcrypt, SQLite </h3>
    <a href='/wiki' ><img class='projectpic' src='nutellawikiscreenshot.png'></a>
    <p>A direct lesson in obselescene, the impetus for this project was the impending closure my family's "Wiki". 
      Started over 10 years ago, it mainly served as an online spot for favorite (mostly holiday) recipes, 
      and vacation planing and discussion. The current iteration is built on Ruby on Rails, making use of the TINYMCE gem 
      to include a WYSIWYG text-editor so everyone can contribute their ideas, and format original content to be easily used and read.</p>
</div>

<div id='forbiddenIsland' class='project'>
    <h2 ><a class='projectheading' href='/islandgame' >Forbidden Island</a></h2>
    <h3 class='playfair'>Technologies: Node.js, Express, Sockets.io, JQuery</h3>
    <a href='/wiki' ><img class='projectpic' src='fiscreenshot.png'></a>
    <p>A clone of a popular cooperative board game, this online version is built on extensive javascript OOP. 
      The sockets library is used to allow gamers to work together to collect all four treasures before the island sinks away</p>
</div>
</div>
</body>
<script>
$(document).ready(function(){
  $('#projects, #aboutbutton').hide();
  $('#projectbutton, #projectbutton2, #aboutbutton').click(function(){
    $('#header, #about, #aboutbutton, #projectbutton, #projectbutton2, #projects').toggle();
  });

  $('.skills').click(function(){
    $("ul", this).slideToggle()
  });
});
</script>
</html>