body{
    background-color: skyblue;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
div.playertoken{
    border-radius: 10px;
    width: 20px;
    height: 40;
    box-shadow: 2px 2px lightgray;
    position: absolute;
}
#island{
    display: inline-block;
    width: 800px;
    vertical-align: top;
}
#sidebar{
    display: inline-block;
    width: 500px;
    vertical-align: top;
}
#player1{
    background-color: blue;
}
#player2{
    background-color: red;
}
#player3{
    background-color: green;
}
#player4{
    background-color: yellow;
}
div.hand{
    height: 150px;
    width: 500px;
    border: 1pt solid black;
    vertical-align: top;
    margin:5pt;

}
#prizes{
    height: 160px;
    width: 400px;
    border: 1pt solid black;
    vertical-align: top;
    margin:5pt;
}
#buttonbar{
    display: inline-block;
    height: 50px;
    width: 500px;
    vertical-align: top;
    margin:5pt;  
}
#treasuremoves{
    display: inline-block;
    vertical-align: top;
    width: 480px;
}
#maingame {
    display: inline-block;
    width: 750px;
}
#handbar {
    display: inline-block;
    width: 100px;

}
div.card {
    display: inline-block;
    width: 50px;
    height: 75px;
    margin: 5px;
}
.card.cup{
    background-image: url(cupcard.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.card.lion{
    background-image: url(lioncard.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.card.fire{
    background-image: url(firecard.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.card.orb{
    background-image: url(orbcard.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.card.sandbag{
    background-image: url(sandbagscard.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.card.heli{
    background-image: url(helicoptercard.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
div.tile.wall{
    background-color: transparent;
    height: 80px;
    width: 80px;
    vertical-align: top;
    text-align: center;
    border: none;
    margin: 5px;
    display:inline-block;
    border: 3pt solid transparent;

}
div.tile{
    background-color: sandybrown;
    height: 80px;
    width: 80px;
    vertical-align: top;
    border: 3pt solid goldenrod;
    margin: 5px;
    display:inline-block;
    text-align: center;
    border-radius: 12pt;
}
div.tile p{
    padding-top: 10pt;
    padding-bottom: 0pt;
    padding-right:0pt;
    padding-left: 0pt;
    margin: 0pt;
    text-align: center;
    font-weight: bold;
    font-size:12pt;
}
div.tile.lion p{
    color:gold;
}
div.tile.cup p{
    color: turquoise;
}
div.tile.fire p{
    color:crimson;
}
div.tile.orb p{
    color: royalblue;
}
div.tile.sinking{
    background-image: linear-gradient(peru, blue)
}
div.tile.sunk{
    background-color: darkblue;
    border: 3pt solid red;
}

#foolslanding{
    color: white;
}
div#scoreboard{
    height: 40px;
    width: 100px;
    margin-top:10pt;
    color: white;
    font-size: 18pt;
    border: 1pt solid white;
    text-align: center;
    margin-left: 20px;
}
div#lives{
    height: 40px;
    width: 100px;
    margin-top:10pt;
    color: white;
    font-size: 18pt;
    border: 1pt solid white;
    text-align: center;
    margin-left: 20px;
}
.tile p{
    color: white;
    font-size: 16pt;
    padding-left: 20px;
}
p{
    color: black;
    font-size: 10pt;
    text-align: left;
}
#player1hand {
    color:blue;
}
#player2hand {
    color:red;
}
#player3hand {
    color:green;
}
#player4hand {
    color:yellow;
}
.prize.cup{
    background-image: url(cupprize.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-color: turquoise;
}
.prize.lion{
    background-image: url(lionprize.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-color: gold;
}
.prize.fire{
    background-image: url(fireprize.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-color: crimson;
}
.prize.orb{
    background-image: url(orbprize.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-color: royalblue;
}

